.full-width {
  width: 100%;
}

.flex-center {
  display: flex;
  justify-content: center;
  text-align: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.text-padding {
  padding: 3px 2px;
}

.title-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title-icon {
  font-size: 78px;
  width: 78px;
  height: 78px;
  margin-bottom: 8px;
}

.separator {
  width: 100%;
  border: 0.5px solid #dfdfde;
  margin: 16px 0px;
}

.sub-title-container {
  margin-top: 1rem;
  margin-bottom: 1px;
}

.space {
  height: 1rem;
}

.strong {
  font-weight: 600;
}

.camel {
  color: #a7704a;
}

.link {
  text-decoration: none;
  color: black;
  border-bottom: 0.05em solid rgba(55, 53, 47, 0.4);
  opacity: 0.7;
}

.album-cover {
  height: 150px;
}
